Repository pytorch/torchtitan, pull requests merged in 2025-08, with the labels that each got.

#1503 Make token group alignment size configurable
  torchtitan/components/quantization/float8.py
  torchtitan/components/quantization/mx.py
  torchtitan/config/job_config.py
  torchtitan/experiments/llama4/infra/expert_parallel.py
Labels: CLA Signed

#1513 [DSV3] Add output.contiguous() in model to match llama3 (#1504)
  torchtitan/models/deepseek_v3/model/model.py
Labels: CLA Signed

#1512 make mx recipe name more generic
  torchtitan/components/quantization/mx.py
  torchtitan/config/job_config.py
Labels: CLA Signed

#1509 All-reduce `ntokens_seen` before logging
  torchtitan/distributed/utils.py
  torchtitan/train.py
Labels: CLA Signed

#1508 Compute validation metrics at first step
  torchtitan/components/validate.py
Labels: CLA Signed

#1494 minor fix
  torchtitan/experiments/flux/infra/parallelize.py
  torchtitan/experiments/flux/sampling.py
  torchtitan/experiments/flux/train.py
  torchtitan/tools/utils.py
Labels: CLA Signed

#1517 [llama4] store expert weights such that we can transpose before grouped mm to have col-major memory layout
  torchtitan/experiments/llama4/infra/expert_parallel.py
  torchtitan/experiments/llama4/model/moe.py
Labels: CLA Signed

#1519 [llama4] add apply_compile for moe, where fullgraph=False for moe layers
  torchtitan/experiments/llama4/infra/parallelize.py
Labels: CLA Signed

#1499 [deepseek] update to 16b base tokenizer
  torchtitan/models/deepseek_v3/README.md
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_16b.toml
Labels: CLA Signed

#1518 Flux Validation
  torchtitan/components/validate.py
  torchtitan/experiments/flux/__init__.py
  torchtitan/experiments/flux/dataset/flux_dataset.py
  torchtitan/experiments/flux/job_config.py
  torchtitan/experiments/flux/sampling.py
  torchtitan/experiments/flux/tests/integration_tests.py
  torchtitan/experiments/flux/tests/test_generate_image.py
  torchtitan/experiments/flux/tests/unit_tests/test_flux_dataloader.py
  torchtitan/experiments/flux/train.py
  torchtitan/experiments/flux/train_configs/debug_model.toml
  torchtitan/experiments/flux/train_configs/flux_dev_model.toml
  torchtitan/experiments/flux/train_configs/flux_schnell_model.toml
  torchtitan/experiments/flux/validate.py
  torchtitan/experiments/multimodal/tokenizer/tiktoken.py
Labels: CLA Signed

#1533 checkpoint.md
  docs/checkpoint.md
Labels: CLA Signed

#1532 Fix config manager directories
  CONTRIBUTING.md
  docs/debugging.md
  docs/extension.md
  torchtitan/experiments/deepseek_v3/model_args.py
  torchtitan/experiments/deepseek_v3/train_ds_real.py
  torchtitan/experiments/multimodal/check_padding_mm.py
  torchtitan/experiments/multimodal/mm_dataset.py
Labels: CLA Signed

#1516 separate out diloco configs
  torchtitan/components/ft/config/__init__.py
  torchtitan/components/ft/config/job_config.py
  torchtitan/components/ft/diloco/utils.py
  torchtitan/components/ft/manager.py
  torchtitan/config/job_config.py
  torchtitan/models/__init__.py
Labels: CLA Signed

#1539 use logger in ft
  torchtitan/components/ft/diloco/utils.py
  torchtitan/components/ft/manager.py
Labels: CLA Signed

#1541 fix: ep clipping with no ep grads
  torchtitan/distributed/utils.py
Labels: CLA Signed

#1542 Reorder validate and checkpoint in train
  torchtitan/train.py
Labels: CLA Signed

#1546 Add support for loss parallel
  torchtitan/experiments/auto_parallel/parallelize_llama.py
Labels: CLA Signed

#1551 fix EP fsdp gradient divide factor
  torchtitan/distributed/parallel_dims.py
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/models/deepseek_v3/infra/parallelize.py
Labels: CLA Signed

#1526 Better Support for Huggingface Asset Integration
  .gitignore
  README.md
  docs/checkpoint.md
  scripts/checkpoint_conversion/convert_from_hf.py
  scripts/checkpoint_conversion/convert_to_hf.py
  scripts/download_hf_assets.py
  scripts/download_tokenizer.py
  tests/unit_tests/test_tokenizer.py
  torchtitan/components/checkpoint.py
  torchtitan/components/tokenizer.py
  torchtitan/config/job_config.py
  torchtitan/config/manager.py
  torchtitan/experiments/flux/dataset/tokenizer.py
  torchtitan/experiments/flux/tests/integration_tests.py
  torchtitan/experiments/llama4/README.md
  torchtitan/experiments/multimodal/check_padding_mm.py
  torchtitan/experiments/multimodal/tokenizer/tiktoken.py
  torchtitan/models/deepseek_v3/README.md
  torchtitan/models/llama3/model/state_dict_adapter.py
  torchtitan/models/llama3/train_configs/debug_model.toml
  torchtitan/models/llama3/train_configs/llama3_8b.toml
  torchtitan/protocols/state_dict_adapter.py
  torchtitan/train.py
Labels: CLA Signed

#1511 [a2av] Add autograd support for token combine op
  torchtitan/experiments/kernels/moe/combine.py
Labels: CLA Signed

#1557 Move fqn mapping logic to StateDictAdapter
  scripts/checkpoint_conversion/convert_to_hf.py
  torchtitan/components/checkpoint.py
  torchtitan/experiments/forge/train_spec.py
  torchtitan/models/README.md
  torchtitan/models/llama3/model/state_dict_adapter.py
  torchtitan/protocols/__init__.py
  torchtitan/protocols/state_dict_adapter.py
  torchtitan/protocols/train_spec.py
Labels: CLA Signed

#1560 Update .gitignore
  .gitignore
Labels: CLA Signed

#1563 fix state dict adapter in forge engine
  torchtitan/experiments/forge/engine.py
Labels: CLA Signed

#1556 unit test for download_hf_assets script
  tests/unit_tests/test_download_hf_assets.py
Labels: CLA Signed

#1555 [EP] add support for ETP=1
  scripts/estimate/estimation.py
  scripts/generate/test_generate.py
  tests/unit_tests/test_model_converter.py
  torchtitan/config/job_config.py
  torchtitan/distributed/expert_parallel.py
  torchtitan/distributed/parallel_dims.py
  torchtitan/experiments/forge/engine.py
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/experiments/llama4/train_configs/debug_model.toml
  torchtitan/experiments/llama4/train_configs/llama4_17bx128e.toml
  torchtitan/experiments/llama4/train_configs/llama4_17bx16e.toml
  torchtitan/models/deepseek_v3/infra/parallelize.py
  torchtitan/models/deepseek_v3/train_configs/debug_model.toml
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_16b.toml
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_671b.toml
  torchtitan/models/moe.py
  torchtitan/train.py
Labels: CLA Signed

#1561 [MoE/EP] apply dim-1 FSDP sharding for routed experts and rewrite shared experts with FFN
  torchtitan/distributed/expert_parallel.py
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/experiments/llama4/model/args.py
  torchtitan/experiments/llama4/scripts/convert_hf_to_dcp_with_gpus.py
  torchtitan/models/deepseek_v3/model/args.py
  torchtitan/models/deepseek_v3/model/model.py
  torchtitan/models/deepseek_v3/model/state_dict_adapter.py
  torchtitan/models/moe.py
Labels: CLA Signed

#1577 Use PYTORCH_ALLOC_CONF as PYTORCH_CUDA_ALLOC_CONF is deprecated
  run_train.sh
  torchtitan/experiments/deepseek_v3/run_training.sh
  torchtitan/experiments/flux/inference/run_infer.sh
  torchtitan/experiments/flux/run_train.sh
  torchtitan/experiments/llama4/scripts/convert_hf_to_dcp_with_gpus.sh
  torchtitan/experiments/llama4/scripts/convert_meta_to_dcp_with_gpus.sh
Labels: CLA Signed

#1571 Add DualPipeV
  torchtitan/distributed/pipeline_parallel.py
Labels: CLA Signed

#1579 Ignore tokenizer_path if it is an empty string
  torchtitan/config/manager.py
Labels: CLA Signed

#1568 added better guidance for if deprecated tokenizer path fails
  torchtitan/components/tokenizer.py
Labels: CLA Signed

#1540 added example for bidirectional checkpoint testing
  scripts/checkpoint_conversion/README.md
  scripts/checkpoint_conversion/numerical_tests_example.py
Labels: CLA Signed

#1594 MoE explicit prefetching in FSDP
  torchtitan/experiments/llama4/infra/parallelize.py
Labels: CLA Signed

#1588 [DeepSeek] add torch.compile + async TP
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/models/deepseek_v3/README.md
  torchtitan/models/deepseek_v3/infra/parallelize.py
Labels: CLA Signed

#1590 [Qwen3] Switch to verified RoPE implementation + Add weight tying support
  torchtitan/experiments/qwen3/__init__.py
  torchtitan/experiments/qwen3/infra/parallelize.py
  torchtitan/experiments/qwen3/model/args.py
  torchtitan/experiments/qwen3/model/model.py
  torchtitan/experiments/qwen3/train_configs/qwen3_0.6b.toml
Labels: CLA Signed

#1599 [dsv3] Remove dtype to avoid confusion
  torchtitan/models/deepseek_v3/__init__.py
  torchtitan/models/deepseek_v3/model/args.py
Labels: CLA Signed

#1600 Change freq_cis from persistent buffer to non-persistent buffer
  scripts/generate/test_generate.py
  tests/unit_tests/test_checkpoint.py
  torchtitan/components/checkpoint.py
  torchtitan/experiments/llama4/model/model.py
  torchtitan/models/deepseek_v3/infra/parallelize.py
  torchtitan/models/deepseek_v3/model/model.py
  torchtitan/models/llama3/model/model.py
Labels: CLA Signed

#1582 [HF] Model Definition Conversion Support for FLUX
  scripts/checkpoint_conversion/convert_from_hf.py
  scripts/checkpoint_conversion/convert_to_hf.py
  scripts/download_hf_assets.py
  torchtitan/experiments/flux/__init__.py
  torchtitan/experiments/flux/model/state_dict_adapter.py
  torchtitan/experiments/flux/validate.py
  torchtitan/protocols/state_dict_adapter.py
Labels: CLA Signed

#1603 Deprecate Llama Conversion Script
  docs/checkpoint.md
  scripts/checkpoint_conversion/convert_from_llama.py
Labels: CLA Signed

#1608 [refactor] support compile model and loss separately
  docs/float8.md
  scripts/estimate/estimation.py
  scripts/estimate/run_memory_estimation.sh
  tests/integration_tests.py
  tests/integration_tests_h100.py
  torchtitan/components/loss.py
  torchtitan/components/quantization/float8.py
  torchtitan/components/quantization/mx.py
  torchtitan/config/job_config.py
  torchtitan/experiments/flux/loss.py
  torchtitan/experiments/flux/train_configs/debug_model.toml
  torchtitan/experiments/flux/train_configs/flux_dev_model.toml
  torchtitan/experiments/flux/train_configs/flux_schnell_model.toml
  torchtitan/experiments/forge/job_config.py
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/experiments/llama4/train_configs/debug_model.toml
  torchtitan/experiments/llama4/train_configs/llama4_17bx128e.toml
  torchtitan/experiments/llama4/train_configs/llama4_17bx16e.toml
  torchtitan/experiments/qwen3/train_configs/qwen3_0.6b.toml
  torchtitan/experiments/simple_fsdp/README.md
  torchtitan/experiments/simple_fsdp/parallelize.py
  torchtitan/experiments/simple_fsdp/tests/integration_tests.py
  torchtitan/models/deepseek_v3/infra/parallelize.py
  torchtitan/models/deepseek_v3/train_configs/debug_model.toml
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_16b.toml
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_671b.toml
  torchtitan/models/llama3/infra/parallelize.py
  torchtitan/models/llama3/train_configs/debug_model.toml
  torchtitan/models/llama3/train_configs/llama3_405b.toml
  torchtitan/models/llama3/train_configs/llama3_70b.toml
  torchtitan/models/llama3/train_configs/llama3_8b.toml
Labels: CLA Signed

#1593 improve MoE bias update logic in optimizer
  torchtitan/components/optimizer.py
  torchtitan/models/moe.py
Labels: CLA Signed, release blocking

#1619 Centralize Async TP Enablement with maybe_enable_async_tp API
  torchtitan/distributed/tensor_parallel.py
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/models/deepseek_v3/infra/parallelize.py
  torchtitan/models/llama3/infra/parallelize.py
Labels: CLA Signed

#1627 fix(dataloader): Prevent RuntimeError from DataloaderStopIteration
  torchtitan/components/dataloader.py
  torchtitan/experiments/forge/example_train.py
  torchtitan/train.py
Labels: CLA Signed

#1633 [Qwen3] Fix weight tying for Qwen3 according to Huggingface configs
  torchtitan/experiments/qwen3/__init__.py
Labels: CLA Signed

#1637 Fix variable name in NotImplementedError message
  torchtitan/models/moe.py
Labels: CLA Signed

#1634 Solving the validation hanging issue
  torchtitan/components/validate.py
  torchtitan/config/job_config.py
  torchtitan/datasets/hf_datasets.py
  torchtitan/experiments/flux/dataset/flux_dataset.py
  torchtitan/experiments/flux/train_configs/debug_model.toml
  torchtitan/experiments/flux/train_configs/flux_dev_model.toml
  torchtitan/experiments/flux/train_configs/flux_schnell_model.toml
  torchtitan/experiments/flux/validate.py
  torchtitan/models/llama3/train_configs/llama3_405b.toml
  torchtitan/models/llama3/train_configs/llama3_70b.toml
  torchtitan/models/llama3/train_configs/llama3_8b.toml
Labels: CLA Signed

#1648 update warning message
  torchtitan/components/validate.py
  torchtitan/experiments/flux/validate.py
Labels: CLA Signed

#1655 Add CODEOWNERS for experiments/forge
  .github/CODEOWNERS
Labels: CLA Signed

#1580 Add config to AC to toggle early-stop and revert A2A autograd.Function workaround
  tests/unit_tests/test_activation_checkpoint.py
  torchtitan/config/job_config.py
  torchtitan/distributed/activation_checkpoint.py
  torchtitan/distributed/expert_parallel.py
Labels: CLA Signed, ci-no-td

#1625 Enable multi rank safetensor consolidation
  torchtitan/components/checkpoint.py
  torchtitan/protocols/state_dict_adapter.py
Labels: CLA Signed

#1659 Fix toml files
  torchtitan/experiments/llama4/train_configs/debug_model.toml
  torchtitan/models/deepseek_v3/train_configs/debug_model.toml
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_16b.toml
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_671b.toml
Labels: CLA Signed

#1665 Add Forge Code Owner
  .github/CODEOWNERS
Labels: CLA Signed

#1662 [HF] Llama4 Text State Dict Adapter
  torchtitan/experiments/llama4/__init__.py
  torchtitan/experiments/llama4/model/state_dict_adapter.py
  torchtitan/experiments/llama4/scripts/README.md
Labels: CLA Signed

#1667 fix small typo in type hint
  torchtitan/distributed/parallel_dims.py
Labels: CLA Signed

#1669 fix broken tests
  tests/integration_tests/base_config.toml
  tests/integration_tests/features.py
  tests/integration_tests/models.py
  torchtitan/distributed/pipeline_parallel.py
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/models/deepseek_v3/__init__.py
  torchtitan/models/llama3/train_configs/debug_model.toml
  torchtitan/models/llama3/train_configs/llama3_405b.toml
  torchtitan/models/llama3/train_configs/llama3_70b.toml
  torchtitan/models/llama3/train_configs/llama3_8b.toml
Labels: CLA Signed
