Repository pytorch/torchtitan, pull requests merged in 2025-09, with the labels that each got.

#1639 [DSV3] GroupedExperts weights conversion optimization
  torchtitan/models/deepseek_v3/model/state_dict_adapter.py
  torchtitan/models/llama3/model/state_dict_adapter.py
  torchtitan/protocols/state_dict_adapter.py
Labels: CLA Signed

#1675 Make SAC save_list configurable
  tests/unit_tests/test_activation_checkpoint.py
  torchtitan/distributed/activation_checkpoint.py
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/experiments/qwen3/infra/parallelize.py
  torchtitan/experiments/simple_fsdp/parallelize.py
  torchtitan/models/deepseek_v3/infra/parallelize.py
  torchtitan/models/llama3/infra/parallelize.py
Labels: CLA Signed

#1658 add simplefsdp's autobucketing pass entry
  torchtitan/experiments/auto_parallel/README.md
  torchtitan/train.py
Labels: CLA Signed

#1672 Save _to_copy and a2a in selective AC policy
  torchtitan/distributed/activation_checkpoint.py
  torchtitan/distributed/expert_parallel.py
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/models/deepseek_v3/infra/parallelize.py
Labels: CLA Signed, high priority, module: activation checkpointing

#1646 [RFC] Support full bf16 training
  torchtitan/config/job_config.py
  torchtitan/tools/utils.py
  torchtitan/train.py
Labels: CLA Signed

#1712 refactor: use a common DatasetConfig class
  docs/datasets.md
  tests/unit_tests/test_dataset_checkpointing.py
  torchtitan/datasets/__init__.py
  torchtitan/datasets/hf_datasets.py
  torchtitan/experiments/flux/dataset/flux_dataset.py
  torchtitan/experiments/flux/tests/unit_tests/test_flux_dataloader.py
  torchtitan/experiments/multimodal/mm_dataset.py
Labels: CLA Signed

#1615 VLM: Onboarding native resolution, native aspect ratio, interleaved VLM training
  tests/assets/tokenizer/tokenizer.json
  tests/assets/tokenizer/tokenizer_config.json
  torchtitan/experiments/__init__.py
  torchtitan/experiments/llama4/__init__.py
  torchtitan/experiments/vlm/README.md
  torchtitan/experiments/vlm/__init__.py
  torchtitan/experiments/vlm/assets/job_config.py
  torchtitan/experiments/vlm/datasets/mm_collator_nld.py
  torchtitan/experiments/vlm/datasets/mm_datasets.py
  torchtitan/experiments/vlm/datasets/utils/image.py
  torchtitan/experiments/vlm/datasets/utils/packing.py
  torchtitan/experiments/vlm/datasets/utils/text.py
  torchtitan/experiments/vlm/infra/parallelize.py
  torchtitan/experiments/vlm/model/args.py
  torchtitan/experiments/vlm/model/model.py
  torchtitan/experiments/vlm/model/siglip2.py
  torchtitan/experiments/vlm/requirements.txt
  torchtitan/experiments/vlm/train_configs/debug_model.toml
  torchtitan/models/deepseek_v3/__init__.py
  torchtitan/models/llama3/__init__.py
  torchtitan/train.py
Labels: CLA Signed

#1737 Grammatical updates to GC logging
  torchtitan/tools/utils.py
Labels: CLA Signed

#1732 fix: pp grad accumulation is broken
  torchtitan/components/validate.py
  torchtitan/distributed/pipeline_parallel.py
  torchtitan/experiments/deepseek_v3/train_ds_dev.py
  torchtitan/experiments/forge/example_train.py
  torchtitan/train.py
Labels: CLA Signed

#1746 [Flux] Remove generate_image script and add CI test for inference
  torchtitan/experiments/flux/tests/integration_tests.py
  torchtitan/experiments/flux/tests/test_generate_image.py
Labels: CLA Signed

#1683 Separate SAC Wrapping of MoE and Attention Modules to Enable Flex Attention Compilation
  tests/unit_tests/test_activation_checkpoint.py
  torchtitan/distributed/activation_checkpoint.py
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/experiments/qwen3/infra/parallelize.py
  torchtitan/experiments/simple_fsdp/parallelize.py
  torchtitan/experiments/vlm/infra/parallelize.py
  torchtitan/models/deepseek_v3/infra/parallelize.py
  torchtitan/models/llama3/infra/parallelize.py
  torchtitan/tools/logging.py
Labels: CLA Signed, high priority

#1760 fix Qwen3 30B-A3B model configs
  torchtitan/experiments/qwen3/__init__.py
Labels: CLA Signed

#1701 [mxfp8 moe training] add MX MoE model converter using torchao mxfp8 moe training; refactor quantization APIs to use unified API
  benchmarks/llama3-8b_h200_202506_trainy-whitefiber.md
  docs/float8.md
  tests/integration_tests/base_config.toml
  tests/integration_tests/features.py
  tests/integration_tests/h100.py
  tests/unit_tests/test_model_converter.py
  torchtitan/components/quantization/__init__.py
  torchtitan/components/quantization/float8.py
  torchtitan/components/quantization/mx.py
  torchtitan/config/__init__.py
  torchtitan/config/job_config.py
  torchtitan/distributed/expert_parallel.py
  torchtitan/distributed/utils.py
  torchtitan/experiments/deepseek_v3/train_configs/deepseek_v2.toml
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/experiments/llama4/train_configs/debug_model.toml
  torchtitan/experiments/llama4/train_configs/llama4_17bx128e.toml
  torchtitan/experiments/llama4/train_configs/llama4_17bx16e.toml
  torchtitan/experiments/qwen3/infra/parallelize.py
  torchtitan/experiments/qwen3/train_configs/qwen3_0.6b.toml
  torchtitan/experiments/qwen3/train_configs/qwen3_1.7b.toml
  torchtitan/experiments/qwen3/train_configs/qwen3_32b.toml
  torchtitan/experiments/qwen3/train_configs/qwen3_moe_debug.toml
  torchtitan/experiments/simple_fsdp/parallelize.py
  torchtitan/models/deepseek_v3/infra/parallelize.py
  torchtitan/models/deepseek_v3/train_configs/debug_model.toml
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_16b.toml
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_671b.toml
  torchtitan/models/llama3/infra/parallelize.py
  torchtitan/models/llama3/train_configs/debug_model.toml
  torchtitan/models/llama3/train_configs/llama3_405b.toml
  torchtitan/models/llama3/train_configs/llama3_70b.toml
  torchtitan/models/llama3/train_configs/llama3_8b.toml
  torchtitan/tools/utils.py
Labels: CLA Signed

#1763 [quantization] Refactor quantization API
  benchmarks/llama3-8b_h200_202506_trainy-whitefiber.md
  docs/float8.md
  tests/integration_tests/base_config.toml
  tests/integration_tests/features.py
  tests/integration_tests/h100.py
  tests/unit_tests/test_model_converter.py
  torchtitan/components/quantization/__init__.py
  torchtitan/components/quantization/float8.py
  torchtitan/components/quantization/mx.py
  torchtitan/config/job_config.py
  torchtitan/experiments/deepseek_v3/train_configs/deepseek_v2.toml
  torchtitan/experiments/forge/job_config.py
  torchtitan/experiments/llama4/infra/parallelize.py
  torchtitan/experiments/llama4/train_configs/debug_model.toml
  torchtitan/experiments/llama4/train_configs/llama4_17bx128e.toml
  torchtitan/experiments/llama4/train_configs/llama4_17bx16e.toml
  torchtitan/experiments/qwen3/infra/parallelize.py
  torchtitan/experiments/qwen3/train_configs/qwen3_0.6b.toml
  torchtitan/experiments/qwen3/train_configs/qwen3_1.7b.toml
  torchtitan/experiments/qwen3/train_configs/qwen3_32b.toml
  torchtitan/experiments/qwen3/train_configs/qwen3_moe_debug.toml
  torchtitan/experiments/simple_fsdp/parallelize.py
  torchtitan/models/deepseek_v3/infra/parallelize.py
  torchtitan/models/deepseek_v3/train_configs/debug_model.toml
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_16b.toml
  torchtitan/models/deepseek_v3/train_configs/deepseek_v3_671b.toml
  torchtitan/models/llama3/infra/parallelize.py
  torchtitan/models/llama3/train_configs/debug_model.toml
  torchtitan/models/llama3/train_configs/llama3_405b.toml
  torchtitan/models/llama3/train_configs/llama3_70b.toml
  torchtitan/models/llama3/train_configs/llama3_8b.toml
Labels: CLA Signed
