Repository pytorch/torchtitan, pull requests merged in 2025-03, with the labels that each got.

#908 [DeepSeek] Enable checkpoint load from HF
  torchtitan/experiments/deepseek_v3/checkpoint.py
  torchtitan/experiments/deepseek_v3/download.py
  torchtitan/experiments/deepseek_v3/model.py
  torchtitan/experiments/deepseek_v3/model_config.py
  torchtitan/experiments/deepseek_v3/run.py
Labels: CLA Signed

#912 re-enable CP tests since DTensor scaled dot product flash attention has been fixed
  tests/integration_tests.py
Labels: CLA Signed

#920 [rocm] add amd gpu peak flops info
  README.md
  torchtitan/tools/utils.py
Labels: CLA Signed, module: rocm

#923 Remove duplicate variable initialization in `checkpoint.py`
  torchtitan/components/checkpoint.py
Labels: CLA Signed

#918 [fix] fix bug in loading seed checkpoint
  torchtitan/components/checkpoint.py
Labels: CLA Signed

#917 [Optim] Add an option controlling the optimizer eps
  torchtitan/components/optimizer.py
  torchtitan/config_manager.py
  torchtitan/models/llama/train_configs/debug_model.toml
  torchtitan/models/llama/train_configs/llama3_405b.toml
  torchtitan/models/llama/train_configs/llama3_70b.toml
  torchtitan/models/llama/train_configs/llama3_8b.toml
Labels: CLA Signed

#927 update path of `train.py` to `torchtitan/train.py`
  README.md
Labels: CLA Signed

#924 Add FSSpec to the dependency
  .ci/docker/requirements.txt
  pyproject.toml
Labels: CLA Signed

#928 fix MI250X peak FLOPS
  torchtitan/tools/utils.py
Labels: CLA Signed

#922 Replacing device_info[key] with device_info.get() .
  torchtitan/tools/metrics.py
Labels: CLA Signed

#935 Enable ZBV PP Schedule to log metrics (tensorboard, W&B)
  torchtitan/tools/metrics.py
Labels: CLA Signed

#936 [Legal] Modifications requested by legal for adding additional datasets
  LICENSE
  README.md
Labels: CLA Signed

#940 [FSDP2][doc] highlight set_requires_gradient_sync and ignored_params
  docs/fsdp.md
Labels: CLA Signed

#946 [PP] Ensure loss is visible on console for users
  torchtitan/tools/metrics.py
  torchtitan/train.py
Labels: CLA Signed

#949 Add optimizer into metric logger
  torchtitan/train.py
Labels: CLA Signed

#938 [Scheduler] Add support for cosine and wsd scheduler
  docs/converging.md
  torchtitan/components/optimizer.py
  torchtitan/config_manager.py
  torchtitan/models/llama/train_configs/debug_model.toml
  torchtitan/models/llama/train_configs/llama3_405b.toml
  torchtitan/models/llama/train_configs/llama3_70b.toml
  torchtitan/models/llama/train_configs/llama3_8b.toml
  torchtitan/train.py
Labels: CLA Signed

#955 README minor cleanup
  README.md
  multinode_trainer.slurm
  pyproject.toml
Labels: CLA Signed

#950 Conduct lr check only once
  torchtitan/components/optimizer.py
Labels: CLA Signed

#962 Remove duplicated unchanged row at fsdp.md
  docs/fsdp.md
Labels: CLA Signed

#957 add extension.md
  docs/composability.md
  docs/extension.md
  torchtitan/config_manager.py
Labels: CLA Signed

#964 Tags in tj-actions/changed-files are compromised
  .github/workflows/lint.yaml
Labels: CLA Signed

#966 contributing guidelines for the experiments folder
  torchtitan/experiments/README.md
Labels: CLA Signed

#968 update main contributing.md
  CONTRIBUTING.md
  torchtitan/experiments/README.md
Labels: CLA Signed

#976 [Reland] Use torch.multiprocessing instead of multiprocessing module
  torchtitan/components/checkpoint.py
Labels: CLA Signed, ci-no-td

#977 [Reland] Reinitialize ModelWrapper.cache_state_dict because set_model_state_dict has side effects
  torchtitan/components/checkpoint.py
Labels: CLA Signed, ci-no-td

#978 [Reland] Make checkpoint purge thread to be a daemon thread
  torchtitan/components/checkpoint.py
Labels: CLA Signed, ci-no-td

#980 [refactor] combine spmd parallelize into pp parallelize, with some other changes
  scripts/estimate/estimation.py
  scripts/generate/test_generate.py
  tests/integration_tests.py
  tests/unit_tests/test_dataset_checkpointing.py
  tests/unit_tests/test_job_config.py
  tests/unit_tests/test_model_converter.py
  tests/unit_tests/test_train_spec.py
  torchtitan/__init__.py
  torchtitan/components/checkpoint.py
  torchtitan/components/lr_scheduler.py
  torchtitan/components/metrics.py
  torchtitan/components/optimizer.py
  torchtitan/config_manager.py
  torchtitan/datasets/tokenizer/__init__.py
  torchtitan/datasets/tokenizer/tiktoken.py
  torchtitan/distributed/pipeline.py
  torchtitan/models/llama/__init__.py
  torchtitan/models/llama/parallelize_llama.py
  torchtitan/models/llama/pipeline_llama.py
  torchtitan/models/llama/train_configs/debug_model.toml
  torchtitan/models/llama/train_configs/llama3_405b.toml
  torchtitan/models/llama/train_configs/llama3_70b.toml
  torchtitan/models/llama/train_configs/llama3_8b.toml
  torchtitan/protocols/train_spec.py
  torchtitan/train.py
Labels: CLA Signed

#984 Use public imports for FSDP2
  torchtitan/models/llama/parallelize_llama.py
Labels: CLA Signed

#983 Remove the filesystem-path based import
  torchtitan/config_manager.py
  torchtitan/tools/utils.py
  torchtitan/train.py
Labels: CLA Signed

#985 Switch RMSNorm implementation to native PyTorch version
  torchtitan/models/llama_multimodal/model.py
  torchtitan/models/norms.py
Labels: CLA Signed

#952 [DeepSeek] Simplify token grouping before expert processing
  torchtitan/experiments/deepseek_v3/symm_mem_recipes/triton_on_device_all_to_all_v.py
Labels: CLA Signed

#988 Allow users to extend the JobConfig without changing the config_manager and training loop
  tests/assets/argparser_example.py
  tests/unit_tests/test_job_config.py
  torchtitan/config_manager.py
  torchtitan/train.py
Labels: CLA Signed

#994 [DeepSeek] all-to-all-v kernel writes out `output_splits`
  torchtitan/experiments/deepseek_v3/model.py
  torchtitan/experiments/deepseek_v3/symm_mem_recipes/triton_on_device_all_to_all_v.py
Labels: CLA Signed

#995 [DeepSeek] Simplify token grouping before expert processing
  torchtitan/experiments/deepseek_v3/model.py
Labels: CLA Signed

#992 Add doc to explain JobConfig extension
  docs/extension.md
Labels: CLA Signed

#997 [DeepSeek] Remove support of EP=1 case
  torchtitan/experiments/deepseek_v3/model.py
  torchtitan/experiments/deepseek_v3/model_config.py
Labels: CLA Signed

#998 [DeepSeek] Let MoEs share Symmetric Memory across layers
  torchtitan/experiments/deepseek_v3/model.py
Labels: CLA Signed

#959 DSV3 generation script
  torchtitan/experiments/deepseek_v3/generate.py
  torchtitan/experiments/deepseek_v3/model_config.py
Labels: CLA Signed

#963 [DeepSeek] Fix pipeline stage sharding.
  torchtitan/experiments/deepseek_v3/model.py
Labels: CLA Signed

#887 Enable FlexAttention for llama model
  tests/integration_tests.py
  torchtitan/config_manager.py
  torchtitan/models/llama/model.py
  torchtitan/models/llama/parallelize_llama.py
  torchtitan/train.py
Labels: CLA Signed, fb-exported

#965 [Async TP] Don't save reduce scatter output for per op SAC
  torchtitan/models/llama/parallelize_llama.py
Labels: CLA Signed

#1000 Enable CUDNN attention
  torchtitan/distributed/utils.py
Labels: CLA Signed

#993 Add torchft.md
  docs/torchft.md
Labels: CLA Signed

#999 [DeepSeek] Use SDPA instead of manual attention impl
  torchtitan/experiments/deepseek_v3/model.py
Labels: CLA Signed

#1002 [DeepSeek] Add all_to_all_single impl; Enable backward
  torchtitan/experiments/deepseek_v3/model.py
  torchtitan/experiments/deepseek_v3/run.py
Labels: CLA Signed

#1003 [DeepSeek] Enable data parallel
  torchtitan/experiments/deepseek_v3/run.py
Labels: CLA Signed

#1006 Fix name typo in pipeline parallelism
  torchtitan/models/llama/pipeline_llama.py
Labels: CLA Signed

#991 [SimpleFSDP] Front-end Code and Unit test
  torchtitan/experiments/__init__.py
  torchtitan/experiments/simple_fsdp/README.md
  torchtitan/experiments/simple_fsdp/__init__.py
  torchtitan/experiments/simple_fsdp/model.py
  torchtitan/experiments/simple_fsdp/parallelize_llama.py
  torchtitan/experiments/simple_fsdp/simple_fsdp.py
  torchtitan/experiments/simple_fsdp/tests/__init__.py
  torchtitan/experiments/simple_fsdp/tests/test_numerics.py
Labels: CLA Signed

#1008 move model-specific args logic to its ModelArgs
  torchtitan/experiments/__init__.py
  torchtitan/models/llama/model.py
  torchtitan/protocols/train_spec.py
  torchtitan/tools/utils.py
  torchtitan/train.py
Labels: CLA Signed

#1007 use -m option to run scripts as modules
  .github/workflows/integration_test_8gpu.yaml
  README.md
  docs/checkpoint.md
  run_train.sh
  scripts/estimate/run_memory_estimation.sh
  scripts/generate/README.md
  scripts/generate/run_llama_generate.sh
Labels: CLA Signed

#996 chunked cross entropy loss to reduce peak memory
  docs/checkpoint.md
  torchtitan/components/loss.py
Labels: CLA Signed

#1009 [DeepSeek] improve download.py, make generate interactive with single user prompt, add inference.sh for easy inference
  torchtitan/experiments/USAGE.md
  torchtitan/experiments/deepseek_v3/download.py
  torchtitan/experiments/deepseek_v3/generate.py
  torchtitan/experiments/deepseek_v3/inference.sh
  torchtitan/experiments/deepseek_v3/requirements.txt
Labels: CLA Signed

#1012 Simplify ndim check in llama3 model definition
  torchtitan/models/llama/model.py
Labels: CLA Signed

#1016 [XPU] bf16 peak flops for Intel's Data Center GPU Max 1550
  torchtitan/tools/utils.py
Labels: CLA Signed

#1013 [DeepSeek] Re-enable backward for on-device all_to_all_v
  torchtitan/experiments/deepseek_v3/generate.py
  torchtitan/experiments/deepseek_v3/model.py
  torchtitan/experiments/deepseek_v3/run.py
  torchtitan/experiments/deepseek_v3/symm_mem_recipes/__init__.py
  torchtitan/experiments/deepseek_v3/symm_mem_recipes/triton_on_device_all_to_all_v.py
Labels: CLA Signed

#1019 [DeepSeek] remove numpy, avoid tolist in gatherd_idxs
  torchtitan/experiments/deepseek_v3/model.py
Labels: CLA Signed

#1011 fix simple_fsdp logic when CP is used
  torchtitan/experiments/simple_fsdp/README.md
  torchtitan/experiments/simple_fsdp/parallelize_llama.py
Labels: CLA Signed

#1010 Fix ZeroDivisionError when decay_steps=0
  torchtitan/components/lr_scheduler.py
Labels: CLA Signed

#1020 move usage.md to DS folder (where intended)
  torchtitan/experiments/deepseek_v3/USAGE.md
Labels: CLA Signed

#1018 [XPU] Enable profiling for XPU devices
  torchtitan/tools/profiling.py
Labels: CLA Signed

#1022 fix simple fsdp readme
  torchtitan/experiments/simple_fsdp/README.md
Labels: CLA Signed

#1025 ensure logging ranks are visible to titan
  run_train.sh
Labels: CLA Signed

#1023 Avoid perform trainer.train() for seed checkpoint creation case
  torchtitan/distributed/utils.py
  torchtitan/train.py
Labels: CLA Signed

#1021 Adding support for collate_fn parameter in ParallelAwareDataloader class
  torchtitan/components/dataloader.py
Labels: CLA Signed

#1032 Fix missing f-string in logging
  torchtitan/train.py
Labels: CLA Signed

#663 Adding OBELICS DataLoader
  scripts/estimate/estimation.py
  torchtitan/experiments/multimodal/__init__.py
  torchtitan/experiments/multimodal/check_padding_mm.py
  torchtitan/experiments/multimodal/mm_collator.py
  torchtitan/experiments/multimodal/mm_dataset.py
  torchtitan/experiments/multimodal/requirements.txt
  torchtitan/experiments/multimodal/tokenizer/tiktoken.py
  torchtitan/experiments/multimodal/transform.py
  torchtitan/experiments/multimodal/utils.py
Labels: CLA Signed
